body{
    background-color: grey;
    text-align: center;
}

.lvl {
    text-align: center;
    margin-bottom: 10px;
}

.emoji-game{
    margin: auto;
    border-radius: 0px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    margin-right: 40px;
}


.life{
    margin-right: 20px;
}

.info{
    margin-bottom: 10px;
}

table{

    margin: auto;
}

.cell{
    cursor: pointer
}

button{
    margin-bottom: 10px;
    cursor: pointer;
}

.hint1{
    cursor: pointer;
}
.hint2{
    cursor: pointer;
}
.hint3{
    cursor: pointer;
}