body {
    zoom: 1.8;
    /* background-image: url(''); */
    background-image: url('../imgs/normalBack.png');
    background-size: cover;
    text-align: center;
    color: bisque;
}

.lvl {
    text-align: center;
    margin-bottom: 10px;
}

.emoji-game {
    margin: auto;
    border-radius: 0px;
    border-color: black;
    border-style: solid;
    cursor: pointer;
    margin-right: 40px;
}


.life {
    margin-right: 20px;
}

.info {
    margin-bottom: 10px;
}

table {

    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

}

tr {
    display: table-row;
    margin: 0;
    padding: 0;
    height: 0;


}

td {
    padding: 0px;
    border: none;
    line-height: 0;
}

.cell {
    cursor: pointer;

}

button {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: salmon;
    border-radius: 40%;
}

.hint1 {
    cursor: pointer;
}

.hint2 {
    cursor: pointer;
}

.hint3 {
    cursor: pointer;
}